.page {
  align-items: center;
  justify-items: center;
  min-width: 80vw;
  padding: 25px;
  font-family: var(--font-geist-sans);
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
